# YouTube Data API v3
YOUTUBE_API_KEY=AIzaSyDIQSb1TYJ8Td3cOjtwFpqoCck_q4s8RAE

# TikTok API
TIKTOK_CLIENT_KEY=awh72kllzi120qke
TIKTOK_CLIENT_SECRET=ThsLiT0AdKALXVMBnro859w2tt3spWNT

# Cloudflare R2
R2_ACCOUNT_ID=475a325882823bfb045aba7d841836c5
R2_ACCESS_KEY_ID=98d7c806e4657df70ca17ebdb699fa95
R2_SECRET_ACCESS_KEY=beca24433026e5fb44f2b0b70c8430cd87912f3bb66f290e5eee0c0a286a8d27
R2_BUCKET_NAME=viral-videos
R2_ENDPOINT=https://475a325882823bfb045aba7d841836c5.r2.cloudflarestorage.com

# Anthropic (IA edition)
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# App settings
PORT=3000
NODE_ENV=production
